
#logo {
    float: left;
    height: 100px;
    width: 250px;
    background-color: #4aaaa5;
    color: white;
    align-content: center;
    padding: 10px;
    margin-left: 50px;
}

header {
    width: 100%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

main {
    background-image: url("../images/playstation/playstation-pattern.png");
    padding: 60px;
    font: font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#menu {
    float: left;
    font-size: 20px;
    padding: 25px;
    margin-right: 50px;
    margin-left: 500px;
    color: #4aaaa5;
}

#menu a {
    color: #4aaaa5;

}

body {
    padding: 10px;
    
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}


h2 h3 h4 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#profile-pic {
    width: 200px;
    height: 200px;
    padding: 10px;
}

button {
    margin: 10px 0px;
}

#form-box {
    max-width: 600px;
    height: 500px;
    padding: 30px;
    background-color: white;
    float: left;
    color: #4aaaa5;

}

#connect-box {
    height: 200px;
    width: 270px;
    padding: 10px;
    background-color: white;
    padding: 20px;
    float: right;
    color: #4aaaa5;

}

.content {
    width: 960px;
    height: 1000px;
    padding: 20px;
    float:left;
    margin: 20px;
    color: #4aaaa5;
}

footer {
    background-color: #666666;
    vertical-align: middle;
    height: 60px;
    text-align: center;
    color: white;
    padding: 10px;
    clear: both;
    border-top: #4aaaa5;
    border-width: 4px;
    margin-bottom: 10px;
    font-size: 18px;
}

section {

}

#about-me {
    max-width: 650px;
    height: 400px;
    background-color: white;
    float: left;
    padding: 20px;
    color: #4aaaa5;
}

#portfolio {
    max-width: 650px;
    height: 1000px;
    background-color: white;
    float: left;
    padding: 20px;
    color: #4aaaa5;

}

img {
}

p {
    padding: 10px;
}

.icon {
    max-width: 60px;
    max-height: 90px;
}

.icon:hover {
    background-color: gold;
}

li {
    display:inline;
}

.thumbnail {
    width: 200px;
    height: 200px;
}

.project {
    position: relative;
    width: 200px;
    float: left;
    margin: 30px;
    border: 2px solid #4aaaa5;
}

.banner {
    position: absolute;
    bottom: 30px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    height: 50px;
    width: 180px;
    padding: 10px;
    font-size: 18px;
}

#menu ul
{
    margin: 0;
    padding: 0;
}

#menu ul li
{
    list-style-type: none;
    display: inline;
}

#menu li:not(:first-child):before {
    content: "  |  ";
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
}

#blurb {
    margin: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    background-color: #fff;
    resize: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea:focus {
    border: 3px solid #555;
}

button {
    background-color: #4aaaa5; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



button:hover {
    background-color: grey;
}

#connect-box img {
    padding:12px;
}

@media screen and (max-width: 980px) {
    body {
        background-color: lightgreen;
    }

    #connect-box {
        width: 100%;
        max-width: none;
        float: none;
        margin-top: 20px;
        }

    #about-me {
        width: 100%;
        max-width: none;
        float: none;
        }

    #portfolio {
        width: 100%;
        max-width: none;
        float: none;
    }

    #form-box {
        width: 100%;
        max-width: none;
        float: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }

        #connect-box {
        width: 100%;
        max-width: none;
        float: none;
        margin-top: 20px;
        }

    #about-me {
        width: 100%;
        max-width: none;
        float: none;
        }

    #portfolio {
        width: 100%;
        max-width: none;
        float: none;
    }
    
    #form-box {
        width: 100%;
        max-width: none;
        float: none;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-color: lightcoral;
    }
    #connect-box {
        width: 100%;
        max-width: none;
        float: none;
        margin-top: 20px;
        }

    #about-me {
        width: 100%;
        max-width: none;
        float: none;
        }

    #portfolio {
        width: 100%;
        max-width: none;
        float: none;
    }
    
    #form-box {
        width: 100%;
        max-width: none;
        float: none;
    }
}
